---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Mapas from '../components/Mapas.astro';
import Recursos from '../components/Recursos.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.

import { supabase } from "../lib/supabase";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (!accessToken || !refreshToken) {
  return redirect("/login");
}

const { data, error } = await supabase.auth.setSession({
  refresh_token: refreshToken.value,
  access_token: accessToken.value,
});

if (error) {
  cookies.delete("sb-access-token", {
    path: "/",
  });
  cookies.delete("sb-refresh-token", {
    path: "/",
  });

  return redirect("/login");
}

const email = data?.user?.email;
---

<Layout>
	<Navbar email={email} />
	<main>
		<section id="inicio">
			<Hero />
		</section>
		<section id="acerca">
			<About />
		</section>
		<Mapas />
		<section id="recursos">
			<Recursos />
		</section>
		<section id="contacto">
			<Contact />
		</section>
	</main>
	<Footer />
</Layout>

<style is:global>
	html {
		scroll-behavior: smooth;
	}
</style>
