---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Mapas from '../components/Mapas.astro';
import Recursos from '../components/Recursos.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';

// Integracion de supabase AUTH para usuarios

import { supabase } from "../lib/supabase";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (!accessToken || !refreshToken) {
  return redirect("/login");
}

const { data, error } = await supabase.auth.setSession({
  refresh_token: refreshToken.value,
  access_token: accessToken.value,
});

if (error) {
  cookies.delete("sb-access-token", {
    path: "/",
  });
  cookies.delete("sb-refresh-token", {
    path: "/",
  });

  return redirect("/login");
}

const email = data?.user?.email;

const userId = data?.user?.id;

const { data: profile, error: profileError } = await supabase
  .from("profiles")
  .select("username")
  .eq("id", userId)
  .single();

if (profileError) {
  return new Response("Error obteniendo el perfil", { status: 500 });
}

const username = profile?.username;

---

<Layout>
	<Navbar email={email} username={username}/>
	<main>
		<section id="inicio">
			<Hero />
		</section>
		<section id="acerca">
			<About />
		</section>
		<Mapas />
		<section id="recursos">
			<Recursos />
		</section>
		<section id="contacto">
			<Contact />
		</section>
	</main>
	<Footer />
</Layout>

<style is:global>
	html {
		scroll-behavior: smooth;
	}
</style>
